@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


body {
    background-color: gray;
 
}

.wrapper {
    text-align: center;
    padding: 100px;
}

.title {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin: 36px;

}

.buttons {
    display: flex;
    height: 240px;;
    align-items: center;
    justify-content: center;
    gap: 36px;
    padding: 8px;
    margin: 8px;

}

img {
    border: 2px solid red;
    width: 150px;
    height: 150px;
    

}

.lowerHalf {
    font-size: 24px;
    padding: 12px;
    margin: 20px;

    color: white;
    text-shadow: 2px 2px 8px black;
    font-family: 'Montserrat', sans-serif;
}
